
*{
font-family: poppins;
}

.card-logo {
  height: 90px;
  width: 90px;
}
.card-bg{
  width:289.3px;
  height:181px;
  background-color: #fafafa;
}
.org-name-title{
  color: #626262;
  display: inline;
}