.org-name-container {
  display: flex;

  align-items: center;
}
.org-name{
    padding-left: 2%;
}
table{
  font-size: 16px;
  tr{
    background-color: 
    #FAFAFA;
    margin-bottom: 300px;
  }
  
}
.ant-table-thead > tr > th{
   color: #626262;
   font-size: 1.2em;
   font-family: poppins;
   font-weight: 500;
}