.form-bg-container {
  display: flex;
}

.add-org-image {
  background-color: #00b4d8;
  height: 166px;
  width: 166px;
  // width: 30%;
  border-radius: 50%;
  // padding: 10px;
}
.add-logo-container {
  width: 20%;
}
.first-column {
  width: 35%;
  margin-right: 5%;
}
.second-column {
  width: 35%;
}
.ant-form-item {
  padding: 20px;
}
.save-btn-container {
  display: flex;
  justify-content: flex-end;
}
.save-btn {
  background: #0076bf;
  color: white;
  width: 75px;
  height: 45px;
  border-radius: 5px;
  font-size: 1.2em;
}

.reset-password-btn {
  height: 21px;
  width: 110px;
  color: #0076bf;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
